{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
  <div class="box">
    {% include '_highlighted_article.html.twig' with { 'article': highlightedArticle } %}
  </div>

  <a href="{{ frontPath('articles.list') }}">List all articles</a>
</section>
{% endblock body %}
